@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.anton-font {
  font-family: 'Anton', sans-serif;
}

.notable-font {
  font-family: 'Notable', sans-serif;
}

.league-spartan {
  font-family: 'League Spartan', sans-serif;
}

.pt-serif-caption-regular {
  font-family: "PT Serif Caption", var(--font-pt-serif-caption), serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", var(--font-pt-serif-caption), serif;
  font-weight: 400;
  font-style: italic;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes ambientGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), 'Notable', Arial, Helvetica, sans-serif;
}
